<a href="https://colab.research.google.com/github/JSJeong-me/KOSA-Big-Data_Vision/blob/main/Preprocessing/09-15-pca.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### PCA

In [1]:
# example of pca for dimensionality reduction
from sklearn.datasets import make_classification
from sklearn.decomposition import PCA

In [2]:
# define dataset
X, y = make_classification(n_samples=1000, n_features=10, n_informative=3, n_redundant=7,
random_state=1)

In [3]:
X.shape

(1000, 10)

In [5]:
X[0:3,:]

array([[-0.53448246,  0.93837451,  0.38969914,  0.0926655 ,  1.70876508,
         1.14351305, -1.47034214,  0.11857673, -2.72241741,  0.2953565 ],
       [-2.42280473, -1.02658758, -2.34792156, -0.82422408,  0.59933419,
        -2.44832253,  0.39750207,  2.0265065 ,  1.83374105,  0.72430365],
       [-1.83391794, -1.1946668 , -0.73806871,  1.50947233,  1.78047734,
         0.58779205, -2.78506977, -0.04163788, -1.25227833,  0.99373587]])

In [ ]:
# summarize data before the transform
print(X[:3, :])

In [6]:
# define the transform
trans = PCA(n_components=5)

In [7]:
# transform the data
X_dim = trans.fit_transform(X)

# summarize data after the transform
#print(X_dim[:3, :])

In [8]:
X_dim.shape

(1000, 5)

In [ ]:
print(X_dim)

In [9]:
import pandas as pd

In [10]:
df_X = pd.DataFrame(X_dim)

In [11]:
type(df_X)

pandas.core.frame.DataFrame

In [14]:
df_X.corr().round()

     0    1    2    3    4
0  1.0 -0.0  0.0 -0.0 -0.0
1 -0.0  1.0 -0.0 -0.0 -0.0
2  0.0 -0.0  1.0  0.0 -0.0
3 -0.0 -0.0  0.0  1.0  0.0
4 -0.0 -0.0 -0.0  0.0  1.0

In [13]:
df_X.describe().round()

            0       1       2       3       4
count  1000.0  1000.0  1000.0  1000.0  1000.0
mean      0.0     0.0    -0.0     0.0    -0.0
std       3.0     3.0     2.0     0.0     0.0
min      -7.0    -8.0    -5.0    -0.0    -0.0
25%      -2.0    -2.0    -1.0     0.0    -0.0
50%      -1.0    -0.0     0.0     0.0    -0.0
75%       2.0     2.0     1.0     0.0     0.0
max       8.0    10.0     5.0     0.0     0.0

In [ ]:
df_X_org = pd.DataFrame(X)

In [ ]:
df_X_org.describe().round()

In [ ]:
X_dim.shape

In [ ]:
print("\nFirstprincipal axis :", trans.components_[0])

print("Second principal axis", trans.components_[1])

print("Third principal axis", trans.components_[2])

In [ ]:
print(trans.explained_variance_ratio_)