<a href="https://colab.research.google.com/github/JSJeong-me/KOSA-Big-Data_Vision/blob/main/Preprocessing/09-15-SimpleImputer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# statistical imputation transform for the horse colic dataset

from numpy import isnan
import pandas as pd
from sklearn.impute import SimpleImputer

In [2]:
# load dataset
url = 'https://raw.githubusercontent.com/jbrownlee/Datasets/master/horse-colic.csv'
dataframe = pd.read_csv(url, header=None, na_values='?')

In [3]:
dataframe.shape

(300, 28)

In [ ]:
dataframe.info()

In [ ]:
dataframe.describe().round(2)

In [ ]:
dataframe.isnull().sum()

In [8]:
type(dataframe)

pandas.core.frame.DataFrame

In [6]:
# split into input and output elements
data = dataframe.values

In [11]:
type(data)

numpy.ndarray

In [7]:
ix = [i for i in range(data.shape[1]) if i != 23]
X = data[:, ix] 
y = data[:, 23]
# print total missing
print('Missing: %d' % sum(isnan(X).flatten()))

Missing: 1605

In [8]:
# define imputer
imputer = SimpleImputer(strategy='most_frequent')

In [9]:
# fit on the dataset
imputer.fit(X)

SimpleImputer(add_indicator=False, copy=True, fill_value=None,
              missing_values=nan, strategy='most_frequent', verbose=0)

In [10]:
# transform the dataset
Xtrans = imputer.transform(X)

# print total missing
print('Missing: %d' % sum(isnan(Xtrans).flatten()))

Missing: 0

In [16]:
type(Xtrans)

numpy.ndarray

In [18]:
#import pandas as pd

In [11]:
df_Xtrans = pd.DataFrame(Xtrans)

In [12]:
df_Xtrans.describe()

               0           1   ...           25          26
count  300.000000  300.000000  ...   300.000000  300.000000
mean     1.396667    1.640000  ...     7.363333    1.670000
std      0.490023    2.173972  ...   127.536674    0.470998
min      1.000000    1.000000  ...     0.000000    1.000000
25%      1.000000    1.000000  ...     0.000000    1.000000
50%      1.000000    1.000000  ...     0.000000    2.000000
75%      2.000000    1.000000  ...     0.000000    2.000000
max      2.000000    9.000000  ...  2209.000000    2.000000

[8 rows x 27 columns]

In [13]:
dataframe.describe()

               0           1   ...           26          27
count  299.000000  300.000000  ...   300.000000  300.000000
mean     1.397993    1.640000  ...     7.363333    1.670000
std      0.490305    2.173972  ...   127.536674    0.470998
min      1.000000    1.000000  ...     0.000000    1.000000
25%      1.000000    1.000000  ...     0.000000    1.000000
50%      1.000000    1.000000  ...     0.000000    2.000000
75%      2.000000    1.000000  ...     0.000000    2.000000
max      2.000000    9.000000  ...  2209.000000    2.000000

[8 rows x 28 columns]