<a href="https://colab.research.google.com/github/JSJeong-me/KOSA-Big-Data_Vision/blob/main/Preprocessing/0915-regression_feature.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Regression Feature Selection:
(Numerical Input, Numerical Output)

Feature selection is performed using Pearsonâ€™s Correlation Coefficient via the f_regression() function.

In [1]:
# pearson's correlation feature selection for numeric input and numeric output
from sklearn.datasets import make_regression
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_regression

In [2]:
# generate dataset
X, y = make_regression(n_samples=10000, n_features=500, n_informative=10)

In [3]:
X.shape

(10000, 360)

In [5]:
X[:3,:]

array([[-0.18118989, -0.06951469,  1.83552518, ..., -0.72926566,
        -1.64713732,  0.72304796],
       [-0.88406419, -0.65639316,  0.21155763, ...,  2.21554147,
         1.03091857,  1.05289267],
       [ 0.15971337, -1.54185023,  1.31864101, ...,  0.0708116 ,
        -0.16479738,  0.93992399]])

In [6]:
y[:3]

array([-179.40021432, -347.21807418,  490.60213626])

In [10]:
# define feature selection
fs = SelectKBest(score_func=f_regression, k=50)
# apply feature selection

In [11]:
X_selected = fs.fit_transform(X, y)
print(X_selected.shape)

(10000, 15)

In [12]:
X_selected.shape

(10000, 15)

In [13]:
type(X_selected)

numpy.ndarray

In [15]:
import pandas as pd

In [19]:
df_y = pd.DataFrame(y)

In [16]:
df = pd.DataFrame(X_selected)

In [18]:
df.corr().round()

     0    1    2    3    4    5    6    7    8    9    10   11   12   13   14
0   1.0  0.0  0.0  0.0 -0.0  0.0 -0.0 -0.0  0.0  0.0 -0.0 -0.0  0.0 -0.0 -0.0
1   0.0  1.0 -0.0  0.0 -0.0 -0.0  0.0 -0.0 -0.0  0.0 -0.0 -0.0 -0.0  0.0 -0.0
2   0.0 -0.0  1.0  0.0 -0.0  0.0  0.0 -0.0  0.0 -0.0 -0.0 -0.0  0.0  0.0 -0.0
3   0.0  0.0  0.0  1.0  0.0 -0.0  0.0  0.0 -0.0 -0.0 -0.0  0.0  0.0  0.0  0.0
4  -0.0 -0.0 -0.0  0.0  1.0 -0.0 -0.0 -0.0 -0.0 -0.0 -0.0  0.0  0.0  0.0  0.0
5   0.0 -0.0  0.0 -0.0 -0.0  1.0 -0.0 -0.0  0.0  0.0 -0.0 -0.0 -0.0 -0.0 -0.0
6  -0.0  0.0  0.0  0.0 -0.0 -0.0  1.0 -0.0  0.0 -0.0 -0.0 -0.0  0.0  0.0 -0.0
7  -0.0 -0.0 -0.0  0.0 -0.0 -0.0 -0.0  1.0  0.0 -0.0 -0.0 -0.0 -0.0 -0.0  0.0
8   0.0 -0.0  0.0 -0.0 -0.0  0.0  0.0  0.0  1.0 -0.0 -0.0 -0.0  0.0  0.0  0.0
9   0.0  0.0 -0.0 -0.0 -0.0  0.0 -0.0 -0.0 -0.0  1.0  0.0 -0.0 -0.0 -0.0  0.0
10 -0.0 -0.0 -0.0 -0.0 -0.0 -0.0 -0.0 -0.0 -0.0  0.0  1.0 -0.0 -0.0 -0.0 -0.0
11 -0.0 -0.0 -0.0  0.0  0.0 -0.0 -0.0 -0.0 -0.0 -0.0 -0.0  1.0 -0.0  0.0  0.0
12  0.0 -0.0  0.0  0.0  0.0 -0.0  0.0 -0.0  0.0 -0.0 -0.0 -0.0  1.0  0.0  0.0
13 -0.0  0.0  0.0  0.0  0.0 -0.0  0.0 -0.0  0.0 -0.0 -0.0  0.0  0.0  1.0  0.0
14 -0.0 -0.0 -0.0  0.0  0.0 -0.0 -0.0  0.0  0.0  0.0 -0.0  0.0  0.0  0.0  1.0