<a href="https://colab.research.google.com/github/JSJeong-me/KOSA-Big-Data_Vision/blob/main/Preprocessing/card_regression_feature.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Regression Feature Selection:
(Numerical Input, Numerical Output)

Feature selection is performed using Pearsonâ€™s Correlation Coefficient via the f_regression() function.

In [1]:
# pearson's correlation feature selection for numeric input and numeric output
from sklearn.datasets import make_regression
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_regression

In [ ]:
# generate dataset
#X, y = make_regression(n_samples=10000, n_features=500, n_informative=10)

In [2]:
import pandas as pd

In [10]:
data = pd.read_csv('credit_cards_dataset.csv')

In [5]:
data.columns

Index(['ID', 'LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_0',
       'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6',
       'default.payment.next.month'],
      dtype='object')

In [7]:
data.drop('default.payment.next.month', axis=1,inplace=True)

In [8]:
X = data.values

In [11]:
y=data['default.payment.next.month']

In [12]:
X.shape

(30000, 24)

In [13]:
X[:3,:]

array([[ 1.0000e+00,  2.0000e+04,  2.0000e+00,  2.0000e+00,  1.0000e+00,
         2.4000e+01,  2.0000e+00,  2.0000e+00, -1.0000e+00, -1.0000e+00,
        -2.0000e+00, -2.0000e+00,  3.9130e+03,  3.1020e+03,  6.8900e+02,
         0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,  6.8900e+02,
         0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00],
       [ 2.0000e+00,  1.2000e+05,  2.0000e+00,  2.0000e+00,  2.0000e+00,
         2.6000e+01, -1.0000e+00,  2.0000e+00,  0.0000e+00,  0.0000e+00,
         0.0000e+00,  2.0000e+00,  2.6820e+03,  1.7250e+03,  2.6820e+03,
         3.2720e+03,  3.4550e+03,  3.2610e+03,  0.0000e+00,  1.0000e+03,
         1.0000e+03,  1.0000e+03,  0.0000e+00,  2.0000e+03],
       [ 3.0000e+00,  9.0000e+04,  2.0000e+00,  2.0000e+00,  2.0000e+00,
         3.4000e+01,  0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,
         0.0000e+00,  0.0000e+00,  2.9239e+04,  1.4027e+04,  1.3559e+04,
         1.4331e+04,  1.4948e+04,  1.5549e+04,  1.5180e+03,  1.5000e+03,
         1.0000e+03,  1.0000e+03,  1.0000e+03,  5.0000e+03]])

In [14]:
y[:3]

0    1
1    1
2    0
Name: default.payment.next.month, dtype: int64

In [16]:
# define feature selection
fs = SelectKBest(score_func=f_regression, k=10)
# apply feature selection

In [17]:
X_selected = fs.fit_transform(X, y)
print(X_selected.shape)

(30000, 10)

In [18]:
X_selected.shape

(30000, 10)

In [ ]:
type(X_selected)

numpy.ndarray

In [ ]:
import pandas as pd

In [19]:
df_y = pd.DataFrame(y)

In [20]:
df = pd.DataFrame(X_selected)

In [21]:
df.corr()

          0         1         2  ...         7         8         9
0  1.000000 -0.271214 -0.296382  ...  0.195236  0.178408  0.203242
1 -0.271214  1.000000  0.672164  ... -0.079269 -0.070101 -0.064005
2 -0.296382  0.672164  1.000000  ... -0.080701 -0.058990 -0.046858
3 -0.286123  0.574245  0.766552  ...  0.001295 -0.066793 -0.046067
4 -0.267460  0.538841  0.662067  ... -0.009362 -0.001944 -0.043461
5 -0.249411  0.509426  0.622780  ... -0.006089 -0.003191 -0.058299
6 -0.235195  0.474553  0.575501  ... -0.001496 -0.005223  0.019018
7  0.195236 -0.079269 -0.080701  ...  1.000000  0.285576  0.199558
8  0.178408 -0.070101 -0.058990  ...  0.285576  1.000000  0.180107
9  0.203242 -0.064005 -0.046858  ...  0.199558  0.180107  1.000000

[10 rows x 10 columns]

In [ ]:
df_sum = pd.concat([df, df_y], axis=1)

In [ ]:
df_sum.corr().round(3)

       0      1      2      3      4   ...     16     17     18     19     0
0   1.000  0.018  0.020  0.015  0.009  ... -0.030 -0.002  0.001  0.004  0.023
1   0.018  1.000  0.009 -0.003  0.016  ... -0.015 -0.016  0.002  0.003  0.326
2   0.020  0.009  1.000  0.017  0.013  ... -0.019 -0.006 -0.016 -0.000  0.423
3   0.015 -0.003  0.017  1.000  0.005  ... -0.011  0.008 -0.008  0.005  0.031
4   0.009  0.016  0.013  0.005  1.000  ... -0.008  0.019 -0.004  0.000  0.025
5   0.002 -0.006 -0.008 -0.001  0.003  ...  0.011  0.000  0.005 -0.002 -0.026
6  -0.004 -0.007  0.004  0.019 -0.009  ... -0.001 -0.006  0.005  0.008  0.270
7  -0.006 -0.015  0.004  0.008 -0.001  ... -0.008  0.005 -0.004 -0.006 -0.023
8  -0.011 -0.010 -0.004 -0.000  0.004  ...  0.004 -0.008  0.002 -0.012 -0.024
9   0.018 -0.012 -0.001 -0.000 -0.009  ... -0.022 -0.001 -0.011 -0.006  0.192
10 -0.004  0.008 -0.007 -0.005  0.004  ...  0.009 -0.009  0.014 -0.000  0.325
11  0.001  0.003  0.026  0.005 -0.003  ...  0.003 -0.004  0.014  0.022  0.025
12  0.011  0.009  0.010  0.013  0.029  ... -0.015 -0.029  0.013  0.017  0.508
13  0.007  0.015  0.002  0.008  0.011  ... -0.003 -0.018  0.011  0.007  0.080
14 -0.003 -0.002 -0.012  0.012  0.006  ...  0.001 -0.004  0.003  0.022  0.353
15  0.007  0.004 -0.018  0.029  0.000  ... -0.008 -0.009  0.003  0.014  0.343
16 -0.030 -0.015 -0.019 -0.011 -0.008  ...  1.000  0.002  0.002  0.011 -0.024
17 -0.002 -0.016 -0.006  0.008  0.019  ...  0.002  1.000  0.002 -0.015 -0.032
18  0.001  0.002 -0.016 -0.008 -0.004  ...  0.002  0.002  1.000 -0.000  0.023
19  0.004  0.003 -0.000  0.005  0.000  ...  0.011 -0.015 -0.000  1.000  0.023
0   0.023  0.326  0.423  0.031  0.025  ... -0.024 -0.032  0.023  0.023  1.000

[21 rows x 21 columns]