<a href="https://colab.research.google.com/github/JSJeong-me/KOSA-Big-Data_Vision/blob/main/Model/09-30-DNN02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('credit_cards_dataset.csv')

In [3]:
X = df.drop( ['default.payment.next.month'], axis=1).values

In [4]:
Y = df['default.payment.next.month'].values

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=42)

Standard Scale

In [7]:
from sklearn.preprocessing import StandardScaler

In [8]:
sc = StandardScaler()

In [9]:
X_train = sc.fit_transform(X_train)

In [10]:
pd.DataFrame(X_train).describe().round(2)

             0         1         2   ...        21        22        23
count  21000.00  21000.00  21000.00  ...  21000.00  21000.00  21000.00
mean      -0.00     -0.00     -0.00  ...      0.00      0.00     -0.00
std        1.00      1.00      1.00  ...      1.00      1.00      1.00
min       -1.73     -1.22     -1.24  ...     -0.30     -0.31     -0.30
25%       -0.87     -0.91     -1.24  ...     -0.29     -0.29     -0.29
50%        0.01     -0.21      0.81  ...     -0.21     -0.21     -0.21
75%        0.86      0.56      0.81  ...     -0.06     -0.05     -0.07
max        1.73      6.44      0.81  ...     38.23     26.62     29.46

[8 rows x 24 columns]

In [11]:
X_test = sc.fit_transform(X_test)

In [12]:
from tensorflow import keras
from tensorflow.keras import layers

# Create a network with 1 linear unit
model = keras.Sequential([
    layers.Dense(units=50, input_shape=[24]),
    layers.Dense(units=100),
    layers.Dense(units=30 ),
    layers.Dense(units=50),
    layers.Dense(units=1, activation='sigmoid')

])

In [ ]:
model.summary()

In [14]:
import tensorflow as tf

In [15]:
model.compile(optimizer='adam',loss=tf.keras.losses.BinaryCrossentropy(), metrics=[tf.keras.metrics.BinaryAccuracy()] )

In [16]:
model.fit(X_train, Y_train, epochs=30, shuffle=True, verbose='auto')

Epoch 1/30
657/657 [==============================] - 3s 3ms/step - loss: 0.4842 - binary_accuracy: 0.8011
Epoch 2/30
657/657 [==============================] - 2s 3ms/step - loss: 0.4715 - binary_accuracy: 0.8074
Epoch 3/30
657/657 [==============================] - 2s 3ms/step - loss: 0.4701 - binary_accuracy: 0.8075
Epoch 4/30
657/657 [==============================] - 2s 3ms/step - loss: 0.4692 - binary_accuracy: 0.8094
Epoch 5/30
657/657 [==============================] - 2s 3ms/step - loss: 0.4689 - binary_accuracy: 0.8085
Epoch 6/30
657/657 [==============================] - 2s 3ms/step - loss: 0.4689 - binary_accuracy: 0.8090
Epoch 7/30
657/657 [==============================] - 2s 3ms/step - loss: 0.4682 - binary_accuracy: 0.8098
Epoch 8/30
657/657 [==============================] - 2s 3ms/step - loss: 0.4685 - binary_accuracy: 0.8096
Epoch 9/30
657/657 [==============================] - 2s 3ms/step - loss: 0.4682 - binary_accuracy: 0.8100
Epoch 10/30
657/657 [==============================] - 2s 3ms/step - loss: 0.4682 - binary_accuracy: 0.8102
Epoch 11/30
657/657 [==============================] - 2s 3ms/step - loss: 0.4682 - binary_accuracy: 0.8083
Epoch 12/30
657/657 [==============================] - 2s 3ms/step - loss: 0.4677 - binary_accuracy: 0.8090
Epoch 13/30
657/657 [==============================] - 2s 4ms/step - loss: 0.4674 - binary_accuracy: 0.8099
Epoch 14/30
657/657 [==============================] - 2s 3ms/step - loss: 0.4674 - binary_accuracy: 0.8093
Epoch 15/30
657/657 [==============================] - 2s 3ms/step - loss: 0.4676 - binary_accuracy: 0.8098
Epoch 16/30
657/657 [==============================] - 2s 3ms/step - loss: 0.4676 - binary_accuracy: 0.8095
Epoch 17/30
657/657 [==============================] - 2s 3ms/step - loss: 0.4673 - binary_accuracy: 0.8098
Epoch 18/30
657/657 [==============================] - 2s 3ms/step - loss: 0.4680 - binary_accuracy: 0.8082
Epoch 19/30
657/657 [==============================] - 2s 3ms/step - loss: 0.4676 - binary_accuracy: 0.8093
Epoch 20/30
657/657 [==============================] - 2s 3ms/step - loss: 0.4671 - binary_accuracy: 0.8085
Epoch 21/30
657/657 [==============================] - 2s 3ms/step - loss: 0.4672 - binary_accuracy: 0.8096
Epoch 22/30
657/657 [==============================] - 2s 3ms/step - loss: 0.4673 - binary_accuracy: 0.8095
Epoch 23/30
657/657 [==============================] - 2s 3ms/step - loss: 0.4675 - binary_accuracy: 0.8100
Epoch 24/30
657/657 [==============================] - 2s 3ms/step - loss: 0.4672 - binary_accuracy: 0.8079
Epoch 25/30
657/657 [==============================] - 2s 3ms/step - loss: 0.4671 - binary_accuracy: 0.8098
Epoch 26/30
657/657 [==============================] - 2s 3ms/step - loss: 0.4674 - binary_accuracy: 0.8100
Epoch 27/30
657/657 [==============================] - 2s 3ms/step - loss: 0.4669 - binary_accuracy: 0.8109
Epoch 28/30
657/657 [==============================] - 2s 3ms/step - loss: 0.4667 - binary_accuracy: 0.8103
Epoch 29/30
657/657 [==============================] - 2s 3ms/step - loss: 0.4668 - binary_accuracy: 0.8107
Epoch 30/30
657/657 [==============================] - 2s 3ms/step - loss: 0.4669 - binary_accuracy: 0.8113

In [17]:
y_predict = model.predict(X_test)

In [ ]:
y_predict[:30]

In [19]:
import numpy as np

In [20]:
y_predict = np.rint(y_predict)

In [21]:
from sklearn.metrics import recall_score

In [22]:
recall_score(Y_test, y_predict)

0.21275510204081632