<a href="https://colab.research.google.com/github/JSJeong-me/KOSA-Big-Data_Vision/blob/main/Model/09-30-DNN01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import tensorflow as tf

In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('credit_cards_dataset.csv')

In [6]:
X = df.drop( ['default.payment.next.month'], axis=1).values

In [7]:
Y = df['default.payment.next.month'].values

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=42)

Standard Scale

In [10]:
from sklearn.preprocessing import StandardScaler

In [11]:
sc = StandardScaler()

In [12]:
X_train = sc.fit_transform(X_train)

In [13]:
pd.DataFrame(X_train).describe().round(2)

             0         1         2   ...        21        22        23
count  21000.00  21000.00  21000.00  ...  21000.00  21000.00  21000.00
mean      -0.00     -0.00     -0.00  ...      0.00      0.00     -0.00
std        1.00      1.00      1.00  ...      1.00      1.00      1.00
min       -1.73     -1.22     -1.24  ...     -0.30     -0.31     -0.30
25%       -0.87     -0.91     -1.24  ...     -0.29     -0.29     -0.29
50%        0.01     -0.21      0.81  ...     -0.21     -0.21     -0.21
75%        0.86      0.56      0.81  ...     -0.06     -0.05     -0.07
max        1.73      6.44      0.81  ...     38.23     26.62     29.46

[8 rows x 24 columns]

In [14]:
X_test = sc.fit_transform(X_test)

In [15]:
from tensorflow import keras
from tensorflow.keras import layers

# Create a network with 1 linear unit
model = keras.Sequential([
    layers.Dense(units=50, input_shape=[24]),
    layers.Dense(units=60),
    layers.Dense(units=25 ),
    layers.Dense(units=10),
    layers.Dense(units=1, activation='sigmoid')

])

In [16]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 50)                1250
_________________________________________________________________
dense_1 (Dense)              (None, 60)                3060
_________________________________________________________________
dense_2 (Dense)              (None, 25)                1525
_________________________________________________________________
dense_3 (Dense)              (None, 10)                260
_________________________________________________________________
dense_4 (Dense)              (None, 1)                 11
=================================================================
Total params: 6,106
Trainable params: 6,106
Non-trainable params: 0
_________________________________________________________________

In [17]:
#import tensorflow as tf

In [18]:
model.compile(optimizer='adam',loss=tf.keras.losses.BinaryCrossentropy(), metrics=[tf.keras.metrics.BinaryAccuracy()] )

In [19]:
model.fit(X_train, Y_train, epochs=30, shuffle=True, verbose='auto')

Epoch 1/30
657/657 [==============================] - 5s 3ms/step - loss: 0.4839 - binary_accuracy: 0.8022
Epoch 2/30
657/657 [==============================] - 2s 3ms/step - loss: 0.4711 - binary_accuracy: 0.8075
Epoch 3/30
657/657 [==============================] - 2s 3ms/step - loss: 0.4700 - binary_accuracy: 0.8079
Epoch 4/30
657/657 [==============================] - 2s 3ms/step - loss: 0.4696 - binary_accuracy: 0.8094
Epoch 5/30
657/657 [==============================] - 2s 3ms/step - loss: 0.4694 - binary_accuracy: 0.8083
Epoch 6/30
657/657 [==============================] - 2s 3ms/step - loss: 0.4688 - binary_accuracy: 0.8096
Epoch 7/30
657/657 [==============================] - 2s 3ms/step - loss: 0.4682 - binary_accuracy: 0.8085
Epoch 8/30
657/657 [==============================] - 2s 3ms/step - loss: 0.4694 - binary_accuracy: 0.8091
Epoch 9/30
657/657 [==============================] - 2s 3ms/step - loss: 0.4677 - binary_accuracy: 0.8089
Epoch 10/30
657/657 [==============================] - 2s 3ms/step - loss: 0.4689 - binary_accuracy: 0.8083
Epoch 11/30
657/657 [==============================] - 2s 3ms/step - loss: 0.4682 - binary_accuracy: 0.8086
Epoch 12/30
657/657 [==============================] - 2s 3ms/step - loss: 0.4674 - binary_accuracy: 0.8101
Epoch 13/30
657/657 [==============================] - 2s 3ms/step - loss: 0.4672 - binary_accuracy: 0.8118
Epoch 14/30
657/657 [==============================] - 2s 3ms/step - loss: 0.4679 - binary_accuracy: 0.8088
Epoch 15/30
657/657 [==============================] - 2s 4ms/step - loss: 0.4672 - binary_accuracy: 0.8096
Epoch 16/30
657/657 [==============================] - 2s 3ms/step - loss: 0.4678 - binary_accuracy: 0.8082
Epoch 17/30
657/657 [==============================] - 2s 3ms/step - loss: 0.4676 - binary_accuracy: 0.8079
Epoch 18/30
657/657 [==============================] - 2s 3ms/step - loss: 0.4669 - binary_accuracy: 0.8083
Epoch 19/30
657/657 [==============================] - 2s 3ms/step - loss: 0.4676 - binary_accuracy: 0.8087
Epoch 20/30
657/657 [==============================] - 2s 3ms/step - loss: 0.4671 - binary_accuracy: 0.8098
Epoch 21/30
657/657 [==============================] - 2s 3ms/step - loss: 0.4670 - binary_accuracy: 0.8095
Epoch 22/30
657/657 [==============================] - 2s 3ms/step - loss: 0.4670 - binary_accuracy: 0.8084
Epoch 23/30
657/657 [==============================] - 2s 3ms/step - loss: 0.4676 - binary_accuracy: 0.8081
Epoch 24/30
657/657 [==============================] - 2s 3ms/step - loss: 0.4672 - binary_accuracy: 0.8095
Epoch 25/30
657/657 [==============================] - 2s 3ms/step - loss: 0.4674 - binary_accuracy: 0.8097
Epoch 26/30
657/657 [==============================] - 2s 3ms/step - loss: 0.4670 - binary_accuracy: 0.8107
Epoch 27/30
657/657 [==============================] - 2s 3ms/step - loss: 0.4669 - binary_accuracy: 0.8100
Epoch 28/30
657/657 [==============================] - 2s 3ms/step - loss: 0.4667 - binary_accuracy: 0.8100
Epoch 29/30
657/657 [==============================] - 2s 3ms/step - loss: 0.4669 - binary_accuracy: 0.8099
Epoch 30/30
657/657 [==============================] - 2s 3ms/step - loss: 0.4667 - binary_accuracy: 0.8096