<a href="https://colab.research.google.com/github/JSJeong-me/KOSA-Big-Data_Vision/blob/main/Model/09-30-DNN03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
#tf.__version__

In [3]:
df = pd.read_csv('credit_cards_dataset.csv')

In [4]:
X = df.drop( ['default.payment.next.month'], axis=1).values

In [5]:
Y = df['default.payment.next.month'].values

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=42)

Standard Scale

In [8]:
from sklearn.preprocessing import StandardScaler

In [9]:
sc = StandardScaler()

In [10]:
X_train = sc.fit_transform(X_train)

In [11]:
pd.DataFrame(X_train).describe().round(2)

             0         1         2   ...        21        22        23
count  21000.00  21000.00  21000.00  ...  21000.00  21000.00  21000.00
mean      -0.00     -0.00     -0.00  ...      0.00      0.00     -0.00
std        1.00      1.00      1.00  ...      1.00      1.00      1.00
min       -1.73     -1.22     -1.24  ...     -0.30     -0.31     -0.30
25%       -0.87     -0.91     -1.24  ...     -0.29     -0.29     -0.29
50%        0.01     -0.21      0.81  ...     -0.21     -0.21     -0.21
75%        0.86      0.56      0.81  ...     -0.06     -0.05     -0.07
max        1.73      6.44      0.81  ...     38.23     26.62     29.46

[8 rows x 24 columns]

In [12]:
X_test = sc.fit_transform(X_test)

In [13]:
from tensorflow import keras
from tensorflow.keras import layers

# Create a network with 1 linear unit
model = keras.Sequential([
    layers.Dense(units=30, input_shape=[24], activation='relu'),
    layers.Dropout(rate=0.3),
    layers.BatchNormalization(),

    #layers.Dense(units=50, activation='relu'),
    #layers.Dropout(rate=0.3),
    #layers.BatchNormalization(),

    layers.Dense(units=30, activation='relu'),
    layers.Dropout(rate=0.3),
    layers.BatchNormalization(),

    layers.Dense(units=15, activation='relu'),
    layers.Dropout(rate=0.3),

    layers.Dense(units=5, activation='relu'),
    layers.Dropout(rate=0.3),

    layers.Dense(units=1, activation='sigmoid')
])

In [14]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 30)                750
_________________________________________________________________
dropout (Dropout)            (None, 30)                0
_________________________________________________________________
batch_normalization (BatchNo (None, 30)                120
_________________________________________________________________
dense_1 (Dense)              (None, 30)                930
_________________________________________________________________
dropout_1 (Dropout)          (None, 30)                0
_________________________________________________________________
batch_normalization_1 (Batch (None, 30)                120
_________________________________________________________________
dense_2 (Dense)              (None, 15)                465
_________________________________________________________________
dropout_2 (Dropout)          (None, 15)                0
_________________________________________________________________
dense_3 (Dense)              (None, 5)                 80
_________________________________________________________________
dropout_3 (Dropout)          (None, 5)                 0
_________________________________________________________________
dense_4 (Dense)              (None, 1)                 6
=================================================================
Total params: 2,471
Trainable params: 2,351
Non-trainable params: 120
_________________________________________________________________

In [15]:
import tensorflow as tf

In [16]:
model.compile(optimizer='rmsprop',loss=tf.keras.losses.BinaryCrossentropy(), metrics=[tf.keras.metrics.BinaryAccuracy()] )

In [17]:
model.fit(X_train, Y_train, epochs=30, shuffle=True, verbose='auto')

Epoch 1/30
657/657 [==============================] - 6s 6ms/step - loss: 0.5641 - binary_accuracy: 0.7650
Epoch 2/30
657/657 [==============================] - 4s 6ms/step - loss: 0.5060 - binary_accuracy: 0.7876
Epoch 3/30
657/657 [==============================] - 4s 6ms/step - loss: 0.4868 - binary_accuracy: 0.7928
Epoch 4/30
657/657 [==============================] - 4s 6ms/step - loss: 0.4797 - binary_accuracy: 0.7942
Epoch 5/30
657/657 [==============================] - 4s 6ms/step - loss: 0.4778 - binary_accuracy: 0.7972
Epoch 6/30
657/657 [==============================] - 4s 6ms/step - loss: 0.4748 - binary_accuracy: 0.7966
Epoch 7/30
657/657 [==============================] - 4s 6ms/step - loss: 0.4722 - binary_accuracy: 0.7987
Epoch 8/30
657/657 [==============================] - 4s 6ms/step - loss: 0.4709 - binary_accuracy: 0.8009
Epoch 9/30
657/657 [==============================] - 4s 6ms/step - loss: 0.4691 - binary_accuracy: 0.7991
Epoch 10/30
657/657 [==============================] - 4s 6ms/step - loss: 0.4700 - binary_accuracy: 0.7994
Epoch 11/30
657/657 [==============================] - 4s 6ms/step - loss: 0.4689 - binary_accuracy: 0.8003
Epoch 12/30
657/657 [==============================] - 4s 6ms/step - loss: 0.4678 - binary_accuracy: 0.8015
Epoch 13/30
657/657 [==============================] - 4s 6ms/step - loss: 0.4643 - binary_accuracy: 0.8045
Epoch 14/30
657/657 [==============================] - 4s 6ms/step - loss: 0.4674 - binary_accuracy: 0.8009
Epoch 15/30
657/657 [==============================] - 4s 6ms/step - loss: 0.4636 - binary_accuracy: 0.8052
Epoch 16/30
657/657 [==============================] - 4s 6ms/step - loss: 0.4662 - binary_accuracy: 0.8020
Epoch 17/30
657/657 [==============================] - 4s 6ms/step - loss: 0.4654 - binary_accuracy: 0.8016
Epoch 18/30
657/657 [==============================] - 4s 6ms/step - loss: 0.4669 - binary_accuracy: 0.8010
Epoch 19/30
657/657 [==============================] - 4s 6ms/step - loss: 0.4666 - binary_accuracy: 0.8014
Epoch 20/30
657/657 [==============================] - 4s 6ms/step - loss: 0.4639 - binary_accuracy: 0.8025
Epoch 21/30
657/657 [==============================] - 4s 6ms/step - loss: 0.4634 - binary_accuracy: 0.8031
Epoch 22/30
657/657 [==============================] - 4s 6ms/step - loss: 0.4637 - binary_accuracy: 0.8025
Epoch 23/30
657/657 [==============================] - 4s 6ms/step - loss: 0.4646 - binary_accuracy: 0.8029
Epoch 24/30
657/657 [==============================] - 4s 6ms/step - loss: 0.4633 - binary_accuracy: 0.8040
Epoch 25/30
657/657 [==============================] - 4s 6ms/step - loss: 0.4651 - binary_accuracy: 0.8038
Epoch 26/30
657/657 [==============================] - 4s 6ms/step - loss: 0.4643 - binary_accuracy: 0.8050
Epoch 27/30
657/657 [==============================] - 4s 6ms/step - loss: 0.4647 - binary_accuracy: 0.8042
Epoch 28/30
657/657 [==============================] - 4s 6ms/step - loss: 0.4606 - binary_accuracy: 0.8063
Epoch 29/30
657/657 [==============================] - 4s 6ms/step - loss: 0.4622 - binary_accuracy: 0.8053
Epoch 30/30
657/657 [==============================] - 4s 6ms/step - loss: 0.4633 - binary_accuracy: 0.8031

In [18]:
y_predict = model.predict(X_test)

In [19]:
#y_predict[:30]

In [20]:
import numpy as np

In [21]:
y_predict = np.rint(y_predict)

In [22]:
from sklearn.metrics import recall_score

In [23]:
recall_score(Y_test, y_predict)

0.26632653061224487